.calculadora{
    display:block;
    margin: 0 auto;
    padding: 15px;
    background-color: aqua;
    width: 400px;
    height: 600px;
    border-radius: 40px;
}
.calculadora td button{
    display: block;
    width: 75px;
    height: 75px;
    font-size:25px;
}
#resultado{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
    width: 350px;
    height:130px;
    line-height: 200px;
    background-color:pink;
    border-radius: 30px;
    overflow-y: scroll;


}
